<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Some Website</title>
</head>
<body>
 
{{> header}}
   <p>{{screamIt welcomeMessage}}</p>
<p>{{screamIt welcomeMessage1}}</p>
<h1>CAP208:Excellent</h1>
<h1>CAP204:Well Done</h1>
<h1>CAP876:Need Work</h1>
{{> footer}}
</body>
</html>