<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Some Website</title>
</head>
<body>
{{> header}}

<p>{{screamIt welcomeMessage}}</p>
<p>{{screamIt welcomeMessage1}}</p>
<h2>Exam</h2>
<h2>Acadmic</h2>
<h2>Self Details</h2>

{{> footer}}
</body>
</html>