<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Some Website</title>
</head>
<body>
{{> header}}

<h1>Name:Divyani kumari</h1>
<h1>Registartion no:11601058</h1>
<h1>Section :D1619</h1>
<h1>Batch:BCA</h1>
{{> footer}}
</body>
</html>